$dark-blue: #000E77;
$light-blue: #E8EDF6;
$orange: #DF9F00;
$grey: #CECECE;

$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}

html,body {
  font-family: $font-stack;
  margin:0;
  padding:0;
}

body{
  background: #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container{
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;

  #login-form {
    img {
      padding: 20px;
      margin-bottom: 30px;
      width: 150px;
      height: 150px
    }

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 0 5%;
    padding-bottom: 30px;
    margin-top: 100px;
    background: white;
    width: 15%;

    input {
      padding: 10px;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid gray;
      outline: none;
    }

    input:hover, input:active {
      border-bottom: 2px solid $dark-blue;
    }

    #pass{
      margin-bottom: 50px;
    }

    .button-link {
      padding: 10px 30px;
      background: white;
      color: $dark-blue;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      border: solid 2px $dark-blue;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
      text-decoration:none;
    }
    .button-link:hover {
        background: $dark-blue;
        border: solid 2px $dark-blue;
        color: white;
        text-decoration: none;
    }
    .button-link:active {
        background: $light-blue;
        border: solid 2px $dark-blue;
        color: $dark-blue;
    }
  }
}

.container > header{
  padding: 30px 30px 10px 20px;
  margin: 0px 20px 10px 20px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: left;
}
.container > header h1{
  font-size: 35px;
  line-height: 35px;
  position: relative;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{

}
.container > header h2, p.info{
  font-size: 16px;
  font-style: italic;
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.codrops-top{
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-size: 11px;
  width: 100%;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  -moz-box-shadow: 1px 0px 2px #000;
  -webkit-box-shadow: 1px 0px 2px #000;
  box-shadow: 1px 0px 2px #000;
}
.codrops-top a{
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #ddd;
  display: block;
  float: left;
}
.codrops-top a:hover{
  color: #fff;
}
.codrops-top span.right{
  float: right;
}
.codrops-top span.right a{
  float: none;
  display: inline;
}

p.codrops-demos{
  display: block;
  padding: 15px 0px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
  border: 1px solid #6d0019;
  padding: 4px 10px 3px;
  font-size: 13px;
  line-height: 18px;
  margin: 2px 3px;
  font-weight: 800;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color:#fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}
p.codrops-demos a:hover{
  background: #6d0019;
}
p.codrops-demos a:active{
  background: #6d0019;
  background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329));
  background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
  background: -o-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
  background: -ms-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
  background: linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
  -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
  -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
  color: #A5727D;
  background: #6d0019;
}