article{
  display: flex;
  height: 180px;
  justify-content: space-between;

  .article-img {
    width: 200px;
    align-self: center;
  }

    .article-text {
    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

