/* Commot attrs for paragraphs */
p {
  font-family: Helvetica;
  text-align: justify;
  text-justify: inter-word; }

/* Common attrs for first-level titles */
h1 {
  text-transform: uppercase;
  font-family: Helvetica; }

/* Common attrs for second-level titles */
h2 {
  font-family: Helvetica; }

body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

* {
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #000E77;
  /* LOGOUT BUTTON AND USERNAME BOX */ }
  header img#logo-big {
    height: 100px; }
  header div#campus_global_text {
    margin-bottom: 10px;
    height: 40px;
    font-size: 35px;
    color: white; }
  header div#profile {
    display: inline; }
    header div#profile p {
      float: left;
      font-size: 0.8em;
      color: #E8EDF6;
      margin: 5px 10px; }
    header div#profile .button-link {
      padding: 5px 20px;
      background: #000E77;
      color: white;
      font-size: 0.8em;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      border: solid 1px white;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
      text-decoration: none; }
    header div#profile .button-link:hover {
      background: #E8EDF6;
      border: solid 1px #E8EDF6;
      color: #000E77;
      text-decoration: none; }
    header div#profile .button-link:active {
      background: #000E77;
      border: solid 1px #E8EDF6;
      color: #000E77; }
    header div#profile img#logout {
      height: 30px;
      margin-right: 5px; }

#sticky-wrapper {
  z-index: 10; }

nav {
  padding-left: 100px;
  list-style-type: none;
  height: 50px;
  z-index: 6;
  background: #000E77; }
  nav .container {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap; }
    nav .container .icon {
      position: absolute;
      margin-left: 40px;
      margin-top: 18px;
      z-index: 1;
      color: #4f5b66; }
    nav .container input.search:hover, nav .container input.search:focus, nav .container input.search:active {
      outline: none;
      background: #ffffff; }
    nav .container input.search {
      margin-top: 10px;
      margin-left: 30px;
      height: 30px;
      background: #E8EDF6;
      border: none;
      font-size: 10pt;
      padding: 0px 30px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      nav .container input.search ::-webkit-input-placeholder {
        color: #65737e; }
      nav .container input.search :-moz-placeholder {
        /* Firefox 18- */
        color: #65737e; }
      nav .container input.search ::-moz-placeholder {
        /* Firefox 19+ */
        color: #65737e; }
  nav li {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    float: left;
    position: relative;
    padding-left: 20px;
    line-height: 50px; }
    nav li a {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      display: block;
      padding: 0 15px;
      color: #CECECE;
      text-decoration: none; }
    nav li a:hover {
      color: white; }
    nav li ul {
      z-index: 1;
      transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      opacity: 0;
      position: absolute;
      left: 0;
      width: 8em;
      background: #000E77;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      nav li ul li {
        transition: height 0.3s ease;
        -webkit-transition: height 0.3s ease;
        -moz-transition: height 0.3s ease;
        float: none;
        position: static;
        height: 0;
        line-height: 0;
        background: none; }
  nav li:hover {
    background-position: 0 -40px; }
    nav li:hover ul {
      opacity: 1; }
      nav li:hover ul li {
        height: 30px;
        line-height: 30px; }

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #000E77;
  height: 110px;
  color: white;
  width: 100%;
  margin: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  footer div {
    float: left;
    background-color: inherit; }
  footer ul {
    vertical-align: bottom;
    list-style: none; }
    footer ul li {
      line-height: 25px; }
      footer ul li em {
        font-weight: bold;
        font-style: normal; }
      footer ul li a {
        text-decoration: none;
        color: white; }
      footer ul li a:hover {
        text-decoration: underline; }
  footer #footer-center img {
    height: 15px;
    width: 25px;
    margin-left: 15px; }
  footer #footer-right p#uc3m {
    margin: 10px 4px 0px 0px;
    font-family: "Times New Roman", Times, serif; }
    footer #footer-right p#uc3m em {
      font-style: normal;
      font-size: 3em; }
    footer #footer-right p#uc3m img {
      height: 25px;
      width: 30px;
      margin-right: 15px;
      margin-bottom: 5px; }
  footer #footer-right p#copyright {
    margin: 7px 2px 2px 0px;
    padding: 0;
    font-size: 1em; }

.tt-suggestion {
  width: 100%;
  background: #E8EDF6;
  padding: 5px 20px;
  margin-left: 50px;
  font-size: 1.2em; }

.tt-dataset {
  margin-top: 10px; }

.tt-highlight {
  color: #000E77; }

.tt-hint {
  color: #000E77; }

body main {
  padding-top: 30px;
  width: 70%;
  margin: auto; }
  body main #content {
    width: 70%;
    float: left; }
    body main #content .flexslider {
      z-index: 0; }
    body main #content #news {
      margin-bottom: 60px; }
      body main #content #news article {
        clear: both;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #E8EDF6; }
        body main #content #news article img {
          float: left;
          width: 40%;
          padding-right: 30px; }
    body main #content .button-link {
      margin-left: 40%;
      padding: 10px 30px;
      background: white;
      color: #000E77;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      border: solid 2px #000E77;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
      text-decoration: none; }
    body main #content .button-link:hover {
      background: #000E77;
      border: solid 2px #000E77;
      color: white;
      text-decoration: none; }
    body main #content .button-link:active {
      background: #E8EDF6;
      border: solid 2px #000E77;
      color: #000E77; }
  body main #right-pannel {
    width: 25%;
    float: right;
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 2px solid #000E77;
    padding: 10px;
    height: 360px; }
    body main #right-pannel #calendar {
      margin: 0 auto;
      max-width: 170px;
      margin-bottom: 0px; }
    body main #right-pannel #apps {
      padding: 0px 10px 10px 11px;
      font-size: 1em; }
      body main #right-pannel #apps a {
        text-decoration: none;
        color: black; }
      body main #right-pannel #apps a:hover {
        text-decoration: underline; }
      body main #right-pannel #apps em {
        font-weight: bold;
        font-style: normal; }

/*# sourceMappingURL=styles.css.map */
