$dark-blue: #000E77;
$light-blue: #E8EDF6;
$orange: #DF9F00;

$font-stack: Helvetica, sans-serif;
/* Commot attrs for paragraphs */
p {
    font-family: Helvetica;
    text-align: justify;
    text-justify: inter-word;
}

/* Common attrs for second-level titles */
h2 {
    text-transform: uppercase;
    font-family : Helvetica;
}

nav > ul > li {
  display: inline-block
}
nav > ul > li ul {
  visibility: hidden;
  position: absolute;
  top: 105%;
  left: 0;
  transition: 0.2s 0.1s;
}

nav > ul > li:hover ul {
  visibility: visible;
  transition-delay: 0s;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  width: 100px;
  background: #eee;
  margin: 2px;
  position: relative;
  padding: 10px;
}
nav a {
  display: block;

}

body {
    width: 70%;
    margin: auto;

    #content {
        width: 70%;
        float: left;

        #news{

            article{
                height: 200px;
                clear: both;
                padding-bottom: 60px;

                img{
                    float: left;
                    width: 40%;
                    padding-right: 30px;
                }
            }
        }
    }

    #right-pannel {
        width: 25%;
        float: right;
    }

}
