a {
	font-family : sans-serif;
}

p {
<<<<<<< HEAD
    color : #EFEFEF; 
=======
    color : #EFEFEF;
>>>>>>> 1a9805f1c3780859c7193688b3a669f6e060c6bc
    text-align: justify;
    text-justify: inter-word;
	font-family : Arial,  sans-serif;
}

h1, h3 {
    color : #FFE002;
    text-transform: uppercase;
    font-family : "Futura",  sans-serif;
}

body {
    margin-right : 10%;
    margin-left : 10%;
    background-color : #333;
}

header img {
	width : 10%;
}


header h1 {
    font-size : 7em;
	display : inline;
}

main {
	width : 66%;
	float : right;
}

#main-image {
	width : 100%;
}

.col {
    margin-left : 1%;
    margin-right : 1%;
    margin-top : 2%;
    margin-bottom : 2%;
	float :left;
	width : 31%;
}

.img_article {
	width : 100%;
}

/* Common attrs for links in the menu */
nav {
    margin-left : 10%;
	float : left;
	width : 23%;
}

nav ul{
	margin-top : 50%;
	padding : 0;
	list-style-type : none;
}
input {
    line-height: normal;
    font : inherit;
}

input#input-mail {
    position: relative;
    padding-right: 45px;
    padding-left: 15px;
    opacity: .9;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type=email]:focus {
    outline: 0;
    border: 2px solid #FFD900;
    box-shadow: none;
}

input[type=email]:hover {
    border-color: #dad9d4;
}

input[type=email] {
    font-size: 1.2em;
    border-radius: 2px;
    height: 50px;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    border: 2px solid #e9e9e9;
    outline: 0;
    color: #262b31;
    box-shadow: none;
    -webkit-appearance: none;
}

div#subscribe-form {
    float : right;
}

nav li a:link, nav li a:visited {
	color : #C6A800;
	text-align : center;
	text-decoration : none;
}

nav li a:hover, nav li a:active {
	color : #FFD900;
	font-weight : bold;
}

footer {
<<<<<<< HEAD
=======
	width: 100%;
>>>>>>> 1a9805f1c3780859c7193688b3a669f6e060c6bc
    background-color : #FFE002;
    padding-left : 20px;
    padding-right : 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
	text-align: right;
	border-radius: 15px 40px;
}

footer p{
	font-family : "Futura",  sans-serif;
	color: #000000;
}

footer img {
	float: right;
	width: 30px;
    margin: 1% 1% 1% 1%;
}
