header h1 {
	display : inline;
}

header img {
	float : left;
	display : inline;
}

main {
	width : 66%
	border-style : solid;
	border-width : medium;

}

nav { 
	width : 33%
}

nav ul{
	margin : 0;
	padding : 0;
	list-style-type : none;
	border-style : solid;
	border-width : medium;
}

/* Common attrs for links in the menu */
nav li a {
	font-family : sans-serif;
}

nav li a:link, nav li a:visited {
	display : block;
	font-weight : bold;
	color : #98bf21;
	width : 120px;
	text-align : center;
	padding : 4px;
	text-decoration : none;
}

nav li a:hover, nav li a:active {
	color : #7A991A
}
